---
layout: default
---
<div class="border-other">
  <div id="ui four item menu">
    <a href="{{ site.baseurl}}/files/RESUME.pdf" target="_blank" class="item">
      <p class="menu-buttons">
        Resume
      </p>
    </a>
    <a href="{{ site.baseurl}}/bio/"  class="item">
      <p class="menu-buttons">
        About me
      </p>
    </a>
    <a href="{{ site.baseurl}}/projects/" class="item">
      <p class="menu-buttons">
        Projects
      </p>
    </a>
    <div id="home-icon">
      <a href="{{ site.baseurl}}/">
        <i class="big home icon"></i>
      </a>
    </div>
  </div>

  <div style="padding-top: 20px" class="ui container ">
    <p class="ui center aligned">I'm sorry, that URL could not be found. Perhaps you were looking for one of the following pages:</p>

    <h3><a href="{{ site.baseurl }}/projects/">Projects</a></h3>

    <!-- <h3 class="ui centered"><a href="{{ site.baseurl}}/essays/" class="item">Essays</a></h3> -->

    <h3 class="ui center aligned"><a href="{{ site.baseurl}}/bio/" class="item">About Me</a></h3>

    <h3><a href="{{ site.baseurl}}/files/RESUME.pdf" target="_blank" class="item">Resume</a></h3>

  </div>
</div>